<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <link rel="icon" type="image/png" href="/blasterLogo/Blaster-Logo-Favicon.png">
</head>
<body>
    <header id="heder">
        <div class="ostatakHedera">
            <a href="/"><img src="blasterLogo/Blaster-Logo-Favicon.png" alt="logo"></a>
        <div>
            <a href="/dogadjaji">Догађаји</a>
            <a href="/izvodjaci">Извођачи</a>
            <a href="/podkesti">Подкести</a>
            <a href="/o_nama">О нама</a>
        </div>
        <div class="navmenu">
            <input type="checkbox" name="hamburger" id="hamburger"></input>
            <label for="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="hamburgerovMeni">
                <a href="/dogadjaji">Догађаји</a>
                <a href="/izvodjaci">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
        
            </div>
        </div>
        </div>
    </header>