/*INITIAL SETUP*/
html, body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
.nav-colored { background-color:rgba(0, 0, 0, 0.726) }
.nav-transparent { background-color:transparent;}

header {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 1024;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
}

.ostatakHedera {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ostatakHedera > a {
    height: 100%;
}

.ostatakHedera > a > img{
    filter: brightness(100);
    height: 100%;
    width: max-content;
}

.ostatakHedera > div:first-of-type {
    display: flex;
    flex-direction: row;
}

.ostatakHedera > div:first-of-type > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}


/*HAMBURGER MENI*/

.navmenu {
    /*position: fixed;
    top: 0;
    right: 0;*/
    z-index: 1030;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

.navmenu > input {
    display: none;
}

.hamburgerovMeni {
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1023;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.hamburgerovMeni > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

.navmenu > input:checked ~ .hamburgerovMeni {
    visibility: visible;
}

.navmenu > label {
    z-index: 1024;
    appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    
}

.navmenu > label > * {
    position: absolute;
    height: 3px;
    width: 30px;
    left: 15px;
    background-color: rgb(255, 255, 255);
  }

  .navmenu label > *:first-child {
    top: 15px;
  }
  .navmenu label > *:nth-child(2) {
    top: 30px;
  }
  .navmenu label > *:last-child {
    bottom: 15px;
}

@media only screen and (max-width: 540px) {
    .ostatakHedera > div:first-of-type {
        display: none;
    }
    .navmenu {
        display: initial;
    }
}


/*HOME PAGE*/

.homePage {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('pozadinaONama.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.homePage > video {
    
    pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.sadrzajNaslovne {
    background: linear-gradient( rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.sadrzajNaslovne > img {
    filter: brightness(100);
    width: 180px;
}

.sadrzajNaslovne > h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: rgb(231, 231, 231)
}

.sadrzajNaslovne > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sadrzajNaslovne > div > a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.sadrzajNaslovne > div > a > span {
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(14, 14, 14);
    color: rgb(231, 231, 231);
}

@media only screen and (max-width: 240px) {
    .sadrzajNaslovne > div {
        flex-direction: column;
    }
    .sadrzajNaslovne > div > a:nth-of-type(2) {
        margin-top: 20px;
    }
}


/*NADOLAZECE ZURKE*/
.nadolazeciDogadjaji {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nadolazeciDogadjaji > h2 {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.zurkeKarticeKratke {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.zurkaKarticaKratka {
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    /*height: 70vh;*/
    max-width: 600px;
    color: rgb(231, 231, 231);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
}

.zurkaKarticaKratka > img {
    
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.zurkaKarticaInfoKratka {
    padding: 20px;
}

.zurkaKarticaInfoKratka > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zurkaKarticaInfoKratka > div > p {
    margin: 0;
}


@media only screen and (max-width: 540px) {
    .zurkeKarticeKratke {
        flex-direction: column;
    }
    .zurkaKarticaKratka {
        margin-top: 10px;
    }
    .zurkeKarticeKratke > .zurkaKarticaKratka:last-of-type {
        margin-bottom: 30px;
    }
}


/*O NAMA UKRATKO*/
.oNamaUkratko {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100vw;
    min-height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(slikaSaArmature.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.oNamaUkratko > h2 {
    letter-spacing: 8px;
    font-size: 40px;
}

.oNamaUkratko > p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 240px) {
    .oNamaUkratko > h2 {
        font-size: 10vw;
    }
}


/*FOOTER*/

footer {
    margin-top: 10vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    min-height: 60vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

footer > div > a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

footer > div {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 540px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }
}

/*DOGADJAJI*/

.sekcijaOdDogadjaja {
    font-family: 'Montserrat', sans-serif;
}

.sekcijaOdDogadjaja > h2 {
    text-align: center;
}

.sekcijaOdDogadjaja > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.listanjeDogadjaja {
    margin-bottom: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.listanjeDogadjaja > .zurkaKarticaKratka {
    margin: 0;
}

@media only screen and (max-width: 540px) {
    .listanjeDogadjaja {
        grid-template-columns: repeat(1, 1fr);
    }
}



/*PODKESTI*/

.stranicaPodkesta > h2 {
    text-align: center;
}

.podkestiKartice {
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.podkestiKartice > a {
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.podkestKartica {
    border-radius: 20px;
    height: 400px;
    min-width: 250px;
    max-width: 370px;
    overflow: hidden;
    position: relative;
}

.podkestKartica > img {
    pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.podkestKartica > div {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.podkestKarticaPlejSlika {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.podkestKarticaPlejSlika > span {
    font-size: 60px;
    visibility: hidden;
}

.podkestKartica:hover .podkestKarticaPlejSlika {
    backdrop-filter: blur(5px);
}

.podkestKartica:hover .podkestKarticaPlejSlika > span {
    visibility: visible;
}

.podkestKarticaInfo {
    padding: 10px;
    height: 30%;
    background-color: rgb(54, 54, 54);
}

@media only screen and (max-width: 810px) {
    .podkestiKartice {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 540px) {
    .podkestiKartice {
        grid-template-columns: repeat(1, 1fr);
    }
}


/*IZVODJACI*/

.sekcijaIzvodjaca > h2 {
    text-align: center;
}

.izvodjaci {
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.izvodjaci > a > div > img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 180px;
}

.izvodjaci > a > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.izvodjaci > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-self: center;
}

.izvodjaci > a:hover {
    color: rgb(197, 218, 17);
}

@media only screen and (max-width: 810px) {
    .izvodjaci {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 540px) {
    .izvodjaci {
        grid-template-columns: repeat(1, 1fr);
    }
}


/*STRANICA ZA IZVODJACE*/

.sekcijaMuzicarima > img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0 100%);
}

.sekcijaMuzicarima > div {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.opisMuzicara {
    width: 50%;
}

.opisMuzicara > h2 {
    margin-top: 0;
    text-align: center;
    font-size: 3.5vw;
}

.osnovniPodaci {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bukiranjeDugme {
    text-decoration: none;
    color: rgb(197, 218, 17);
    font-family: 'Montserrat', sans-serif;
}

.osnovniPodaci > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    margin: 0;
}

.osnovniPodaci > p > span {
    margin-right: 5px;
}

.muzicareveDrustveneMreze {
    display: flex;
    flex-direction: column;
    justify-content: unsafe;
    align-items: center;
}

.muzicareveDrustveneMreze > a {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-top: 7px;
    margin-bottom: 7px;
}

@media only screen and (max-width: 540px) {
    .sekcijaMuzicarima > div {
        flex-direction: column-reverse;
        align-items: center;
    }
    .opisMuzicara > h2 {
        font-size: 7vw;
    }
    .osnovniPodaci {
        align-items: center;
    }
    .sekcijaMuzicarima > div > hr {
        visibility: hidden;
    }
    .osnovniPodaci > hr {
        visibility: hidden;
    }
    .opisMuzicara {
        width: 90%;
    }

}



/*STRANICA ZA DOGADJAJE*/

.sekcijaZaDogadjaje > div {
    margin-top: 120px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.sekcijaZaDogadjaje > div > img {
    width: 100%;
    max-height: 450px;
    object-fit: contain;
}

.sekcijaZaDogadjaje > div > div {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.sekcijaZaDogadjaje > div > div > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}

.sekcijaZaDogadjaje > div > div > p > span {
    margin-right: 5px;
}


/*O NAMA*/

.sekcijaInfa {
    /*background-image: url(pozadinaONama.jpg);*/
}

.sekcijaInfa > div {
    margin-top: 120px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.onamaDiv {
    max-width: 50%;
}

.kontaktDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.drustveneMrezeONama {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.kontaktDiv > p:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.kontaktDiv > p:first-of-type > span {
    margin-right: 5px;
}

.kontaktDiv > p:first-of-type > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.drustveneMrezeONama > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 540px) {
    .sekcijaInfa > div {
        flex-direction: column-reverse;

    }
    .onamaDiv {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .onamaDiv > h2 {
        text-align: center;
    }
}


/*SARADNJA*/

.sekcijaSaradnje {
    margin-top: 120px;
}

.sekcijaSaradnje > div {
    text-align: center;
}

.accordion {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    font-weight: 700;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:nth-of-type(1) {
    background-color: red;
}

.accordion:nth-of-type(2) {
    background-color: blue;
}

.accordion:nth-of-type(3) {
    background-color: green;
}

.accordion:nth-of-type(4) {
    background-color: purple;
}

.accordion:nth-of-type(5) {
    background-color: cyan;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.panel > p {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/*404*/

.cetvorkaSekcija {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.cetvorkaSekcija > h2 {
    margin-bottom: 0;
}

.cetvorkaSekcija > a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(197, 218, 17);

}