/*INITIAL SETUP*/
html, body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
.nav-colored { background-color:rgba(0, 0, 0, 0.726) }
.nav-transparent { background-color:transparent;}

header {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 1024;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
}

.ostatakHedera {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ostatakHedera > a {
    height: 100%;
}

.ostatakHedera > a > img{
    filter: brightness(100);
    height: 100%;
    width: max-content;
}

.ostatakHedera > div {
    display: flex;
    flex-direction: row;
}

.ostatakHedera > div > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}



/*HOME PAGE*/

.homePage {
    background-image: url(https://media.giphy.com/media/ilqP03ohzeIJZGnnpe/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homePage > img {
    filter: brightness(100);
    width: 180px;
}

.homePage > h1 {
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: rgb(231, 231, 231)
}

.homePage > div > a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.homePage > div > a > span {
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(14, 14, 14);
    color: rgb(231, 231, 231);
}

/*NADOLAZECE ZURKE*/
.nadolazeciDogadjaji {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nadolazeciDogadjaji > h2 {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.zurkeKarticeKratke {
    max-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.zurkaKarticaKratka {
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    /*height: 70vh;*/
    width: 600px;
    color: rgb(231, 231, 231);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
}

.zurkaKarticaKratka > img {
    
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.zurkaKarticaInfoKratka {
    padding: 20px;
}

.zurkaKarticaInfoKratka > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zurkaKarticaInfoKratka > div > p {
    margin: 0;
}



/*O NAMA UKRATKO*/
.oNamaUkratko {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100vw;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(slikaSaArmature.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.oNamaUkratko > p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/*FOOTER*/

footer {
    margin-top: 10vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    min-height: 60vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

footer > div > a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

footer > div {
    display: flex;
    flex-direction: column;
}

/*DOGADJAJI*/

.sekcijaOdDogadjaja {
    font-family: 'Montserrat', sans-serif;
}

.sekcijaOdDogadjaja > h2 {
    text-align: center;
}

.sekcijaOdDogadjaja > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.zurkaKarticaDuga {
    /*transition: transform .5s;*/
    overflow: hidden;
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    background-color: rgb(54, 54, 54);
}

/*.zurkaKarticaDuga:hover {
    transform: scale(1.2);
}*/

.zurkaKarticaDuga > img {
    pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zurkaKarticaDuga > div {
    max-width: 1200px;
    height: 30vh;
    display: flex;
    flex-direction: row;
}

.zurkaKarticaDuga > div > img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    backdrop-filter: blur(7px);
}

.zurkaKarticaDuga > div > div {
    backdrop-filter: blur(7px);
    padding: 15px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.103);
}

.zurkaKarticaDuga > div > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zurkaKarticaDuga > div > div > div > h3 {
    margin-top: 2px;
    font-weight: 600;
}

.datumVrijemeDugi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.datumVrijemeDugi > p {
    margin: 0;
}



/*PODKESTI*/

.stranicaPodkesta > h2 {
    text-align: center;
}

.podkestiKartice {
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.podkestiKartice > a {
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.podkestKartica {
    border-radius: 20px;
    height: 400px;
    min-width: 250px;
    max-width: 370px;
    overflow: hidden;
    position: relative;
}

.podkestKartica > img {
    pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.podkestKartica > div {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.podkestKarticaPlejSlika {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.podkestKarticaPlejSlika > span {
    font-size: 60px;
    visibility: hidden;
}

.podkestKartica:hover .podkestKarticaPlejSlika {
    backdrop-filter: blur(5px);
}

.podkestKartica:hover .podkestKarticaPlejSlika > span {
    visibility: visible;
}

.podkestKarticaInfo {
    padding: 10px;
    height: 30%;
    background-color: rgb(54, 54, 54);
}



/*IZVODJACI*/

.sekcijaIzvodjaca > h2 {
    text-align: center;
}

.izvodjaci {
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.izvodjaci > a > div > img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 180px;
}

.izvodjaci > div {
    display: flex;
    flex-direction: column;
}

.izvodjaci > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-self: center;
}

.izvodjaci > a:hover {
    color: rgb(197, 218, 17);
}



/*STRANICA ZA IZVODJACE*/

.sekcijaMuzicarima > img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0 100%);
}

.sekcijaMuzicarima > div {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.opisMuzicara {
    width: 50%;
}

.opisMuzicara > h2 {
    margin-top: 0;
    text-align: center;
    font-size: 3.5vw;
}

.osnovniPodaci {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bukiranjeDugme {
    text-decoration: none;
    color: rgb(197, 218, 17);
    font-family: 'Montserrat', sans-serif;
}

.osnovniPodaci > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    margin: 0;
}

.osnovniPodaci > p > span {
    margin-right: 5px;
}

.muzicareveDrustveneMreze {
    display: flex;
    flex-direction: column;
    justify-content: unsafe;
    align-items: center;
}

.muzicareveDrustveneMreze > a {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-top: 7px;
    margin-bottom: 7px;
}
