<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,900;1,100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,300,0,0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <header id="heder">
        <div class="ostatakHedera">
            <a href="/"><img src="../blasterLogo/Blaster-Logo-Favicon.png" alt="logo"></a>
        <div>
            <a href="/dogadjaji">Догађаји</a>
            <a href="/izvodjaci">Извођачи</a>
            <a href="/podkesti">Подкести</a>
            <a href="/o_nama">О нама</a>
            <a href="/saradnja">Сарађуј са нама!</a>
        </div>
        <div class="navmenu">
            <input type="checkbox" name="hamburger" id="hamburger"></input>
            <label for="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="hamburgerovMeni">
                <a href="/dogadjaji">Догађаји</a>
                <a href="/izvodjaci">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
                <a href="/saradnja">Сарађуј са нама!</a>
            </div>
        </div>
        </div>
    </header>

    <section class="sekcijaOdDogadjaja">
        <br><br><br><br>
        <h2>Сљедећи догађаји</h2>
        <div class="listanjeDogadjaja">
            <a href="/dogadjaji_stranica" class="zurkaKarticaKratka">
                <img src="slikaSaArmature.jpg" alt="eventSlika">
                <div class="zurkaKarticaInfoKratka">
                    <div>
                        <p>15. Јул</p>
                        <p>Тајна локација 🤫</p>
                    </div>
                    <h3>АРМАТУРА: 160+ издање</h5>
                    <p>На узбудљивој локацији уживаћемо у брзим тракама са нашим најбољим ДЈ-евима</p>
                </div>
        </a>
        <a href="/dogadjaji_stranica" class="zurkaKarticaKratka">
            <img src="slikaSaArmature.jpg" alt="eventSlika">
            <div class="zurkaKarticaInfoKratka">
                <div>
                    <p>15. Јул</p>
                    <p>Тајна локација 🤫</p>
                </div>
                <h3>АРМАТУРА: 160+ издање</h5>
                <p>На узбудљивој локацији уживаћемо у брзим тракама са нашим најбољим ДЈ-евима</p>
            </div>
    </a>
    <a href="/dogadjaji_stranica" class="zurkaKarticaKratka">
        <img src="slikaSaArmature.jpg" alt="eventSlika">
        <div class="zurkaKarticaInfoKratka">
            <div>
                <p>15. Јул</p>
                <p>Тајна локација 🤫</p>
            </div>
            <h3>АРМАТУРА: 160+ издање</h5>
            <p>На узбудљивој локацији уживаћемо у брзим тракама са нашим најбољим ДЈ-евима</p>
        </div>
</a>
        </div>
        <h2>Прошли догађаји</h2>
        <div class="listanjeDogadjaja">
            <a href="/dogadjaji_stranica" class="zurkaKarticaKratka">
                <img src="slikaSaArmature.jpg" alt="eventSlika">
                <div class="zurkaKarticaInfoKratka">
                    <div>
                        <p>15. Јул</p>
                        <p>Тајна локација 🤫</p>
                    </div>
                    <h3>АРМАТУРА: 160+ издање</h5>
                    <p>На узбудљивој локацији уживаћемо у брзим тракама са нашим најбољим ДЈ-евима</p>
                </div>
        </a>
        <a href="/dogadjaji_stranica" class="zurkaKarticaKratka">
            <img src="slikaSaArmature.jpg" alt="eventSlika">
            <div class="zurkaKarticaInfoKratka">
                <div>
                    <p>15. Јул</p>
                    <p>Тајна локација 🤫</p>
                </div>
                <h3>АРМАТУРА: 160+ издање</h5>
                <p>На узбудљивој локацији уживаћемо у брзим тракама са нашим најбољим ДЈ-евима</p>
            </div>
    </a>
    <a href="/dogadjaji_stranica" class="zurkaKarticaKratka">
        <img src="slikaSaArmature.jpg" alt="eventSlika">
        <div class="zurkaKarticaInfoKratka">
            <div>
                <p>15. Јул</p>
                <p>Тајна локација 🤫</p>
            </div>
            <h3>АРМАТУРА: 160+ издање</h5>
            <p>На узбудљивој локацији уживаћемо у брзим тракама са нашим најбољим ДЈ-евима</p>
        </div>
</a>
        </div>
    </section>

    <footer>
        <div>
            <h4>Пронађи нас на</h4>
            <a href="#" class="futerDugme">Инстаграм</a>
            <a href="#" class="futerDugme">Фејсбук</a>
            <a href="#" class="futerDugme">Јутјуб</a>
            <a href="#" class="futerDugme">Саундклауд</a>
            <a href="#" class="futerDugme">Бендкемп</a>
        </div>
        <div>
            <h4>Мени</h4>
            <a href="/dogadjaji">Догађаји</a>
            <a href="/izvodjaci">Извођачи</a>
            <a href="/podkesti">Подкести</a>
            <a href="/o_nama">О нама</a>
            <a href="/saradnja">Сарађуј са нама!</a>
        </div>
        <div>
            <h4>Контакт</h4>
            <a href="" class="futerDugme">И-мејл</a>
        </div>
    </footer>
</body>
</html>

<script src="js/zatamniSkrolom.js"></script>