<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
</head>
<body>
    <header id="heder">
        <div class="ostatakHedera">
            <a href="/"><img src="blasterLogo/Blaster-Logo-Favicon.png" alt="logo"></a>
        <div>
            <a href="/dogadjaji">Догађаји</a>
            <a href="/izvodjaci">Извођачи</a>
            <a href="/podkesti">Подкести</a>
            <a href="/o_nama">О нама</a>
            <a href="/saradnja">Сарађуј са нама!</a>
        </div>
        <div class="navmenu">
            <input type="checkbox" name="hamburger" id="hamburger"></input>
            <label for="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="hamburgerovMeni">
                <a href="/dogadjaji">Догађаји</a>
                <a href="/izvodjaci">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
                <a href="/saradnja">Сарађуј са нама!</a>
            </div>
        </div>
        </div>
    </header>
    <section class="homePage">
        <video autoplay muted loop>
            <source src="optimizovaniVidei/ARMATURAA.mp4" type="video/mp4">
            <source src="optimizovaniVidei/ARMATURAA-optimizovana.webm" type="video/webm">
        </video>
        <div class="sadrzajNaslovne">
            <img src="blasterLogo/Blaster-Logo-Favicon.png" alt="logo"> 
        <h1>БЛАСТЕР</h1>
        <div>
            <a href="/dogadjaji"><span>Догађаји</span></a>
            <a href="/izvodjaci"><span>Извођачи</span></a>
        </div>
        </div>
    </section>
    <section class="nadolazeciDogadjaji">
        <h2>Надолазеће журке</h2>
        <div class="zurkeKarticeKratke">
            <a href="/stranicaZaDogadjaje" class="zurkaKarticaKratka">
                    <img src="slikaSaArmature.jpg" alt="eventSlika">
                    <div class="zurkaKarticaInfoKratka">
                        <div>
                            <p>15. Јул</p>
                            <p>Тајна локација 🤫</p>
                        </div>
                        <h3>АРМАТУРА: 160+ издање</h5>
                        <p>На узбудљивој локацији уживаћемо у брзим тракама са нашим најбољим ДЈ-евима</p>
                    </div>
            </a>
            <a href="/stranicaZaDogadjaje" class="zurkaKarticaKratka">
                    <img src="slikaSaArmature.jpg" alt="eventSlika">
                    <div class="zurkaKarticaInfoKratka">
                        <div>
                            <p>28. Август</p>
                            <p>Фанки хаус</p>
                        </div>
                        <h3>D'n'B showcase</h5>
                        <p>На старој неон локацији слушамо DnB издања стваралаца из наше резиденције</p>
                    </div>
            </a>
        </div>
    </section>
    <section class="oNamaUkratko">
        <h2>БЛАСТЕР</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore distinctio voluptatem facere facilis nobis fuga optio, minus necessitatibus, repellendus sequi mollitia explicabo iure dignissimos eveniet veritatis eaque nesciunt quas similique.</p>
    </section>
    <footer>
        <div>
            <h4>Пронађи нас на</h4>
            <a href="#" class="futerDugme">Инстаграм</a>
            <a href="#" class="futerDugme">Фејсбук</a>
            <a href="#" class="futerDugme">Јутјуб</a>
            <a href="#" class="futerDugme">Саундклауд</a>
            <a href="#" class="futerDugme">Бендкемп</a>
        </div>
        <div>
            <h4>Мени</h4>
            <a href="/dogadjaji">Догађаји</a>
            <a href="/izvodjaci">Извођачи</a>
            <a href="/podkesti">Подкести</a>
            <a href="/o_nama">О нама</a>
            <a href="/saradnja">Сарађуј са нама!</a>
        </div>
        <div>
            <h4>Контакт</h4>
            <a href="" class="futerDugme">И-мејл</a>
        </div>
    </footer>
</body>
</html>

<script src="/js/zatamniSkrolom.js"></script>