<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,300,0,0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Event name</title>
    </head>
<body>
    <header id="heder">
        <div class="ostatakHedera">
            <a href="/"><img src="blasterLogo/Blaster-Logo-Favicon.png" alt="logo"></a>
        <div>
             <a href="/dogadjaji">Догађаји</a>
                <a href="/izvodjaci">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
                <a href="/saradnja">Сарађуј са нама!</a>
        </div>
        <div class="navmenu">
            <input type="checkbox" name="hamburger" id="hamburger"></input>
            <label for="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="hamburgerovMeni">
                <a href="/dogadjaji">Догађаји</a>
                <a href="/izvodjaci">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
                <a href="/saradnja">Сарађуј са нама!</a>
            </div>
        </div>
        </div>
    </header>

    <section class="sekcijaZaDogadjaje">
        <div>
            <img src="slikaSaArmature.jpg" alt="eventSlika">
            <div>
                <p><span class="material-symbols-sharp">
                    pin_drop
                    </span> Дом омладине, Бањалука</p>
                <p><span class="material-symbols-sharp">
                    schedule
                    </span> 16. Април</p>
            </div>
            <h2>Арматура</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolorum, iusto similique debitis modi culpa hic accusamus? Sequi ex iste cumque itaque! Harum placeat odit quam? Sit veniam eos voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur recusandae reprehenderit ducimus modi minima! Consequatur, in impedit commodi ducimus nihil sapiente cupiditate beatae aliquid magnam amet ea eligendi consectetur? Nostrum!</p>
        </div>
    </section>

    <footer>
        <div>
            <h4>Пронађи нас на</h4>
            <a href="#" class="futerDugme">Инстаграм</a>
            <a href="#" class="futerDugme">Фејсбук</a>
            <a href="#" class="futerDugme">Јутјуб</a>
            <a href="#" class="futerDugme">Саундклауд</a>
            <a href="#" class="futerDugme">Бендкемп</a>
        </div>
        <div>
            <h4>Мени</h4>
             <a href="/dogadjaji">Догађаји</a>
                <a href="/izvodjaci">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
                <a href="/saradnja">Сарађуј са нама!</a>
        </div>
        <div>
            <h4>Контакт</h4>
            <a href="" class="futerDugme">И-мејл</a>
        </div>
    </footer>
</body>
</html>

<script src="js/zatamniSkrolom.js"></script>