<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,300,0,0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Artist name</title>
    </head>
<body>
    <header id="heder">
        <div class="ostatakHedera">
            <a href="/"><img src="blasterLogo/Blaster-Logo-Favicon.png" alt="logo"></a>
        <div>
             <a href="/dogadjaji">Догађаји</a>
                <a href="/muzika">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
                <a href="/saradnja">Сарађуј са нама!</a>
        </div>
        <div class="navmenu">
            <input type="checkbox" name="hamburger" id="hamburger"></input>
            <label for="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="hamburgerovMeni">
                <a href="/dogadjaji">Догађаји</a>
                <a href="/muzika">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
                <a href="/saradnja">Сарађуј са нама!</a>
            </div>
        </div>
        </div>
    </header>
    

    <section class="sekcijaMuzicarima">
        <img src="https://thispersondoesnotexist.com/image" alt="naslovnaSlika" class="naslovnaZaStranice">
        <div>
            <div class="osnovniPodaci">
                <p><span class="material-symbols-sharp">
                    pin_drop
                    </span> Бањалука</p>
                <p><span class="material-symbols-sharp">
                    equalizer
                    </span> Хард техно | Тренс</p>
                <a href="kontakt.html" class="bukiranjeDugme">Заинтересован си за букирање?</a>
                <hr>
                <div class="muzicareveDrustveneMreze">
                    <a href="#">Soundcloud</a>
                    <a href="#">Instagram</a>
                    <a href="#">Youtube</a>
                    <a href="#">Facebook</a>
                    <a href="#">Bandcamp</a>
                </div>
            </div>
            <hr>
            <div class="opisMuzicara">
                <h2>Павле Кузмановић</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta cumque beatae eveniet quisquam dignissimos nobis vitae ullam illo adipisci quae neque corrupti odit quo unde excepturi blanditiis nihil, numquam animi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui in quod numquam similique, omnis facilis neque est inventore porro tempora laboriosam nesciunt! Ipsum modi, rem quo necessitatibus odit aut! <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, dolorum molestiae. Autem repellat unde nisi dicta fugit dignissimos voluptas nulla optio! Aspernatur iure ipsa vero excepturi repellendus sequi magni officia! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus tempora natus, sit dignissimos voluptatem optio perspiciatis nisi nobis. Debitis, adipisci est. Maxime doloribus quia corporis consequuntur asperiores quam delectus ipsum! <br> <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor nam, earum sit ab quasi officiis facilis facere eos temporibus voluptatem. Libero nihil ad suscipit, cumque impedit soluta alias sapiente nesciunt?</p>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <h4>Пронађи нас на</h4>
            <a href="#" class="futerDugme">Инстаграм</a>
            <a href="#" class="futerDugme">Фејсбук</a>
            <a href="#" class="futerDugme">Јутјуб</a>
            <a href="#" class="futerDugme">Саундклауд</a>
            <a href="#" class="futerDugme">Бендкемп</a>
        </div>
        <div>
            <h4>Мени</h4>
             <a href="/dogadjaji">Догађаји</a>
                <a href="/muzika">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
                <a href="/saradnja">Сарађуј са нама!</a>
        </div>
        <div>
            <h4>Контакт</h4>
            <a href="" class="futerDugme">И-мејл</a>
        </div>
    </footer>
</body>
</html>

<script src="js/zatamniSkrolom.js"></script>